<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ng-todopouch by twilson63</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>ng-todopouch</h1>
        <p>Yet another Todo Tutorial using AngularJS and PouchDb</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/twilson63/ngTodoPouch" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/twilson63/ngTodoPouch/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/twilson63/ngTodoPouch/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <h1>
<a name="ngtodopouch" class="anchor" href="#ngtodopouch"><span class="octicon octicon-link"></span></a>ngToDoPouch</h1>

<p>An AngularJS Tutorial that will walk you through creating a
ToDo Application using a local PouchDb.  This tutorial should
introduce you to some of the AngularJS concepts like directives and
data-binding.  It will also show you how to build offline applications
using PouchDb. </p>

<h2>
<a name="setup" class="anchor" href="#setup"><span class="octicon octicon-link"></span></a>Setup</h2>

<p>IN order to get started with building our application we need to get a few things setup, you can use tools like Yeoman to help you in this process, but for this exercise we are going to do it manually to help get a better idea on what is going on under the hood.</p>

<ul>
<li>(Optional) Install brackets editor (<a href="http://brackets.io/">http://brackets.io/</a>)</li>
</ul><p>Brackets is a new editor built on HTML5 technologies by the awesome folks over at adobe.  If you do not have an editor of choice you may want to give brackets a try.</p>

<ul>
<li>Install Nodejs (<a href="http://nodejs.org">http://nodejs.org</a>)</li>
</ul><p>While we will not be doing any NodeJS development, NodeJS will play a big part of our build tool system and our test dev server, it also includes a package manager called npm that makes it very easy for use to install dependencies.</p>

<ul>
<li>Open console</li>
</ul><div class="highlight"><pre>mkdir todo-pouch
<span class="nb">cd </span>todo-pouch
npm install bower -g
</pre></div>

<ul>
<li>What is bower?</li>
</ul><p>Bower is a client-side package management tool, we are going to use this tool
to install jquery, bootstrap.css, angular, and pouchdb.  It works a lot like npm but places all of the packages in the components directory.  If you want to find out more about bower check out <a href="http://bower.io/">http://bower.io/</a>.</p>

<div class="highlight"><pre>bower init
bower install jquery bootstrap.css angular --save
bower install angular-pouch --save
</pre></div>

<h3>
<a name="indexhtml" class="anchor" href="#indexhtml"><span class="octicon octicon-link"></span></a>index.html</h3>

<p>Next, we are going to create an index.html document, which will be our default
web document for this application.</p>

<pre><code>touch index.html
</code></pre>

<div class="highlight"><pre><span class="cp">&lt;!doctype html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">ng-app=</span><span class="s">"Todo"</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
  <span class="nt">&lt;title&gt;</span>TODO POUCH<span class="nt">&lt;/title&gt;</span>
  <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"/bower_components/bootstrap.css/css/bootstrap.css"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"/css/app.css"</span><span class="nt">&gt;</span> 
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;ng</span><span class="na">-view</span><span class="nt">&gt;</span><span class="err">&lt;</span>/ng-view&gt;
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"/bower_components/jquery/jquery.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"/bower_components/angular/angular.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"/bower_components/pouchdb-nightly.min/index.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"/bower_components/angular-pouch/angular-pouch.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"/ng-app.js"</span><span class="nt">&gt;&lt;/script&gt;</span>

<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>

<h3>
<a name="setup-grunt" class="anchor" href="#setup-grunt"><span class="octicon octicon-link"></span></a>setup grunt</h3>

<p>Grunt is a build tool built in javascript, it allows you to create tasks that can be run to perform the <code>Grunt</code> work.  We will be installing the following tasks:</p>

<ul>
<li>jshint</li>
<li>concat</li>
<li>uglify</li>
<li>connect</li>
</ul><p>These grunt tasks will enable us to run our dev environment using on cmd.</p>

<div class="highlight"><pre>npm install grunt-cli -g
npm init
touch Gruntfile.js
npm install grunt-contrib-concat grunt-contrib-jshint grunt-contrib-uglify grunt-contrib-connect grunt-contrib-watch --save-dev
touch Gruntfile.js
</pre></div>

<p>Paste the following js in Gruntfile.js</p>

<div class="highlight"><pre><span class="kd">var</span> <span class="nx">www</span> <span class="o">=</span> <span class="nx">__dirname</span><span class="p">;</span>

<span class="kd">var</span> <span class="nx">appFiles</span> <span class="o">=</span> <span class="p">[</span>
<span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/app.js'</span><span class="p">,</span>
<span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/services/*.js'</span><span class="p">,</span>
<span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/filters/*.js'</span><span class="p">,</span>
<span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/directives/*.js'</span><span class="p">,</span>
<span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/controllers/*.js'</span>
<span class="p">];</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">grunt</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">initConfig</span><span class="p">({</span>
    <span class="nx">jshint</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">files</span><span class="o">:</span> <span class="nx">appFiles</span>
    <span class="p">},</span>
    <span class="nx">concat</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">app</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">src</span><span class="o">:</span> <span class="nx">appFiles</span><span class="p">,</span>
      <span class="nx">dest</span><span class="o">:</span> <span class="nx">www</span> <span class="o">+</span> <span class="s1">'/ng-app.js'</span>
      <span class="p">}</span>
    <span class="p">},</span>
    <span class="nx">uglify</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">app</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">src</span><span class="o">:</span> <span class="p">[</span> <span class="nx">www</span> <span class="o">+</span> <span class="s1">'/ng-app.js'</span><span class="p">],</span>
        <span class="nx">dest</span><span class="o">:</span> <span class="nx">www</span> <span class="o">+</span> <span class="s1">'/ng-app.min.js'</span>
      <span class="p">}</span>
    <span class="p">},</span>
    <span class="nx">watch</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">scripts</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">files</span><span class="o">:</span> <span class="nx">www</span> <span class="o">+</span> <span class="s1">'/app/**/*.js'</span><span class="p">,</span>
        <span class="nx">tasks</span><span class="o">:</span> <span class="p">[</span><span class="s1">'jshint'</span><span class="p">,</span><span class="s1">'concat'</span><span class="p">],</span>
        <span class="nx">options</span><span class="o">:</span> <span class="p">{</span>
          <span class="nx">interrupt</span><span class="o">:</span> <span class="kc">true</span>
        <span class="p">}</span>
      <span class="p">}</span>
    <span class="p">},</span>
    <span class="nx">connect</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">server</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">options</span><span class="o">:</span> <span class="p">{</span>
          <span class="nx">port</span><span class="o">:</span> <span class="mi">3000</span><span class="p">,</span>
          <span class="nx">base</span><span class="o">:</span> <span class="s1">'.'</span>
        <span class="p">}</span>
      <span class="p">}</span>
    <span class="p">}</span>
  <span class="p">});</span>

  <span class="nx">grunt</span><span class="p">.</span><span class="nx">loadNpmTasks</span><span class="p">(</span><span class="s1">'grunt-contrib-concat'</span><span class="p">);</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">loadNpmTasks</span><span class="p">(</span><span class="s1">'grunt-contrib-jshint'</span><span class="p">);</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">loadNpmTasks</span><span class="p">(</span><span class="s1">'grunt-contrib-uglify'</span><span class="p">);</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">loadNpmTasks</span><span class="p">(</span><span class="s1">'grunt-contrib-watch'</span><span class="p">);</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">loadNpmTasks</span><span class="p">(</span><span class="s1">'grunt-contrib-connect'</span><span class="p">);</span>

  <span class="nx">grunt</span><span class="p">.</span><span class="nx">registerTask</span><span class="p">(</span><span class="s1">'default'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'jshint'</span><span class="p">,</span> <span class="s1">'concat'</span><span class="p">]);</span>
  <span class="nx">grunt</span><span class="p">.</span><span class="nx">registerTask</span><span class="p">(</span><span class="s1">'server'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'default'</span><span class="p">,</span> <span class="s1">'connect'</span><span class="p">,</span> <span class="s1">'watch'</span><span class="p">]);</span>
<span class="p">}</span>
</pre></div>

<h3>
<a name="create-angular-app-directory" class="anchor" href="#create-angular-app-directory"><span class="octicon octicon-link"></span></a>create angular app directory</h3>

<div class="highlight"><pre>mkdir app
touch app/app.js
mkdir app/controllers
touch app/controllers/main.js
mkdir app/templates
touch app/templates/main.html
</pre></div>

<h3>
<a name="open-appappjs-and-setup-the-application" class="anchor" href="#open-appappjs-and-setup-the-application"><span class="octicon octicon-link"></span></a>open app/app.js and setup the application</h3>

<pre><code>angular.module('Todo', ['angular-pouch'])
  .config(function($routeProvider, $locationProvider) {
    'use strict';

    $routeProvider
      .when('/', { 
        controller: 'MainCtrl', 
        templateUrl: '/app/templates/main.html'
      });
    $locationProvider.html5Mode(true);
  });
</code></pre>

<p>In the app.js we are adding a config section, in this section we
are injecting two services.  ($routeProvider, $locationProvider).</p>

<p>$routeProvider gives the ability to do routing.</p>

<p>$locationProvider gives us html5 push updates.</p>

<p>open app/controllers/main.js</p>

<div class="highlight"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'Todo'</span><span class="p">)</span>
  <span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>

  <span class="p">});</span>
</pre></div>

<p>open app/templates/main.html</p>

<pre><code>&lt;h1&gt;Todo Pouch&lt;/h1&gt;
</code></pre>

<p>Lets confirm we have everything setup correctly.</p>

<p>In the console (make sure you are in the project dir)</p>

<div class="highlight"><pre>grunt server
</pre></div>

<p>open browser to http://localhost:3000</p>

<p>If you see Todo Pouch in your browser, then we are setup correctly.  If not check the Chrome JavaScript console and see if you can see any errors.  Please submit in issue to this repo.</p>

<h2>
<a name="exercise-1---create-the-declarative-template" class="anchor" href="#exercise-1---create-the-declarative-template"><span class="octicon octicon-link"></span></a>Exercise 1 - Create the declarative template</h2>

<p>So now we have everything setup and we are ready to get started building our application.  In this exercise we will construct the declarative html template.  Instead of using a string based template, angularjs leverages HTML and integrates their templates into the html itself, which makes it easy and intuitive to follow.</p>

<p>We will step through the declarative template line by line.</p>

<div class="highlight"><pre><span class="nt">&lt;span&gt;</span>{{remaining()}} of {{todos.length}} remaining<span class="nt">&lt;/span&gt;</span>
</pre></div>

<p>Show how many todos of total have not been completed.
We are using the ng-bind directive to call $scope.remaining() function to get the number of todos that have not been marked completed.  Then we use the ng-bind directive to call the $scope.todos.length to get the total count of todo items.</p>

<div class="highlight"><pre>[<span class="nt">&lt;a</span> <span class="na">ng-href=</span><span class="s">""</span> <span class="na">ng-click=</span><span class="s">"removeDone()"</span><span class="nt">&gt;</span>Remove done<span class="nt">&lt;/a&gt;</span>]
</pre></div>

<p>Give the user the ability to remove all done tasks from the list.  Here we are using an anchor element and a ng-click attribute to map the anchor click event to the $scope.removeDone function.</p>

<div class="highlight"><pre><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"unstyled"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"todo in todos"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">ng-model=</span><span class="s">"todo.done"</span> <span class="na">ng-click=</span><span class="s">"updateTodo(todo)"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">ng-class=</span><span class="s">"{{done: todo.done"</span><span class="nt">&gt;</span>{{todo.text}}<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</pre></div>

<p>Create an unordered list of todo tasks, for each line item 
we want to provide a checkbox with an attribute <code>ng-model</code> assigned 
to <code>$scope.todo.done</code> and map the input <code>ng-click</code> attribute to `<code>$scope.updateTodo(todo)</code>.</p>

<p>Next we want to use the ng-class directive to add the <code>done</code> class to the span element if <code>todo.done === true</code>.  And use the ng-bind directive to show the todo task.</p>

<div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">ng-submit=</span><span class="s">"addTodo()"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"todoText"</span>  <span class="na">size=</span><span class="s">"30"</span>
         <span class="na">placeholder=</span><span class="s">"add new todo here"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"add"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>

<p>Finally, we want to add a form with a directive <code>ng-submit</code>, which is assigned to <code>$scope.addTodo()</code>.  In the form, we are assigning the input element <code>ng-model</code> to $scope.todoText.</p>

<p>Open the browser and you should now see the total text and input form.</p>

<h2>
<a name="exercise-2---controller" class="anchor" href="#exercise-2---controller"><span class="octicon octicon-link"></span></a>Exercise 2 - Controller</h2>

<p>Fantastic, we have our declarative template in place, now we need to connect the template with our angular controller.  AngularJS controllers behave like view models, which means they are the glue between the presentation layer and the data/model layer.  In this step we are going to wire up the list of todos to an array, and the addTodo declaration to a function that creates a new js object and adds it to the array.</p>

<p>First, open main.js and add the following:</p>

<div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span> <span class="o">=</span> <span class="p">[];</span>
</pre></div>

<p>This statement initializes the $scope.todos array.</p>

<p>Second, we need to create the addTodo function.</p>

<div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">addTodo</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">newTodo</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">_id</span><span class="o">:</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">uuid</span><span class="p">(),</span>
    <span class="nx">text</span><span class="o">:</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span><span class="p">,</span>
    <span class="nx">done</span><span class="o">:</span> <span class="kc">false</span>
  <span class="p">};</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">newTodo</span><span class="p">);</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
<span class="p">};</span>
</pre></div>

<h2>
<a name="exercise-3---remove-completed-todos" class="anchor" href="#exercise-3---remove-completed-todos"><span class="octicon octicon-link"></span></a>Exercise 3 - Remove completed todos</h2>

<p>Continuing through the wire up process, in Exercise 3 we will connect the declaration of removeDone to a function.  In this function, we will create a copy of the current todo list and loop through the copy and remove any of the items that are marked as done, then add the items still in play to the new array.</p>

<div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">removeDone</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
   <span class="kd">var</span> <span class="nx">allTodos</span> <span class="o">=</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">;</span>
   <span class="kd">var</span> <span class="nx">remainingToDos</span> <span class="o">=</span> <span class="p">[];</span>
   <span class="c1">// loop through the todos</span>
   <span class="nx">angular</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">allTodos</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">todo</span><span class="p">)</span> <span class="p">{</span>
      <span class="c1">// if todo is marked as done, or checked.</span>
      <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">todo</span><span class="p">.</span><span class="nx">done</span><span class="p">)</span> <span class="p">{</span>
         <span class="nx">remainingToDos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">todo</span><span class="p">);</span>
      <span class="p">}</span>
   <span class="p">});</span>
   <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span> <span class="o">=</span> <span class="nx">remainingToDos</span><span class="p">;</span>
<span class="p">};</span>
</pre></div>

<h2>
<a name="exercise-4---display-remaining-todo-count" class="anchor" href="#exercise-4---display-remaining-todo-count"><span class="octicon octicon-link"></span></a>Exercise 4 - Display remaining todo count</h2>

<p>Finally, we will connect the remaining declaration to a function that will provide an uptodate and accurate count of the Todo Item List.</p>

<pre><code>$scope.remaining = function() {
  var count = 0;
  angular.forEach($scope.todos, function(todo) {
      count += todo.done ? 0 : 1;
  });
  return count;
};
</code></pre>

<p>add the remaining function to the controller.  Now we should 
see 0 of 0 remaining.</p>

<p>After these steps, you should be able to refresh your browser at
http://localhost:3000 and create a todo, mark it as done and remove it.  But there is one problem, these todo's are only being stored in memory, so as soon as I refresh the page they will disappear.  Lets use the new PouchDb which is an offline data-storage platform that leverages the couchDb api to store data in the browser.</p>

<h2>
<a name="exercise-5---pouchdb" class="anchor" href="#exercise-5---pouchdb"><span class="octicon octicon-link"></span></a>Exercise 5 - PouchDb</h2>

<p>Added PouchDb to our application, the pouchDb library connects with HTML 5 storage solutions and gives you the developer a consistent way to store data in your clients browser so that they may access it at other times.</p>

<p>By using an AngularJS server, we can build a simple wrapper around the PouchDb library which will instruct AngularJS how to inject into our controllers.</p>

<ul>
<li>Create Pouch Service</li>
</ul><div class="highlight"><pre>mkdir app/services
touch app/services/pouch.js
</pre></div>

<p>By using the AngularJS constant method we are able to set the $pouch service and ensure that no one else can override our assignment.</p>

<p>pouch.js</p>

<div class="highlight"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'Todo'</span><span class="p">)</span>
  <span class="p">.</span><span class="nx">factory</span><span class="p">(</span><span class="s1">'$db'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$pouch</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">$pouch</span><span class="p">(</span><span class="s1">'idb://todos'</span><span class="p">);</span>
  <span class="p">});</span>
</pre></div>

<ul>
<li>Include in the controller</li>
</ul><p>Now, we need to use angularjs's dependency injection process to bring the $pouch service to our controller.  Dependency Injection is a simple concept where you basically ask the application for any services or factoriess that you may need to use in your controller, and the application fetches those for you.</p>

<p>main.js</p>

<p>replace </p>

<div class="highlight"><pre><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
</pre></div>

<p>with</p>

<div class="highlight"><pre><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">$db</span><span class="p">)</span> <span class="p">{</span>
</pre></div>

<h2>
<a name="exercise-6---persist-todo-list" class="anchor" href="#exercise-6---persist-todo-list"><span class="octicon octicon-link"></span></a>Exercise 6 - Persist Todo List</h2>

<p>Now that we have PouchDb angularized, lets use the pouchDb
$db service to persist our todo list.  First we need to adjust
the addTodo function.</p>

<ul>
<li>On Add Todo save to pouch</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">addTodo</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">newTodo</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">_id</span><span class="o">:</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">uuid</span><span class="p">(),</span>
    <span class="nx">text</span><span class="o">:</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span><span class="p">,</span>
    <span class="nx">done</span><span class="o">:</span> <span class="kc">false</span>
  <span class="p">};</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">newTodo</span><span class="p">);</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
  <span class="nx">$db</span><span class="p">.</span><span class="nx">post</span><span class="p">(</span><span class="nx">newTodo</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span> <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">err</span><span class="p">);</span> <span class="p">}</span>
    <span class="nx">newTodo</span><span class="p">.</span><span class="nx">_id</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">id</span><span class="p">;</span>
    <span class="nx">newTodo</span><span class="p">.</span><span class="nx">_rev</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">rev</span><span class="p">;</span>
  <span class="p">});</span>
<span class="p">};</span>
</pre></div>

<h2>
<a name="exercise-7---load-todo-list" class="anchor" href="#exercise-7---load-todo-list"><span class="octicon octicon-link"></span></a>Exercise 7 - Load Todo List</h2>

<p>Next we need to retrieve all the persisted documents from pouch, we add this function to the route of the controller function.</p>

<div class="highlight"><pre><span class="nx">$db</span><span class="p">.</span><span class="nx">allDocs</span><span class="p">({</span><span class="nx">include_docs</span><span class="o">:</span> <span class="kc">true</span><span class="p">},</span> <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">response</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">$apply</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">response</span><span class="p">.</span><span class="nx">rows</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">row</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">row</span><span class="p">.</span><span class="nx">doc</span><span class="p">);</span>
    <span class="p">});</span>
  <span class="p">});</span>
<span class="p">});</span>
</pre></div>

<h2>
<a name="exercise-8---remove-done-tasks-from-list" class="anchor" href="#exercise-8---remove-done-tasks-from-list"><span class="octicon octicon-link"></span></a>Exercise 8 - Remove done tasks from list</h2>

<p>By adding an else to the removeDone function we can remove the 
persisted todo from the pouch database.</p>

<div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">removeDone</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">oldTodos</span> <span class="o">=</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">;</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span> <span class="o">=</span> <span class="p">[];</span>
  <span class="nx">angular</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">oldTodos</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">todo</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">todo</span><span class="p">.</span><span class="nx">done</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">todo</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="k">else</span> <span class="p">{</span>
      <span class="nx">$db</span><span class="p">.</span><span class="nx">remove</span><span class="p">(</span><span class="nx">todo</span><span class="p">);</span>
    <span class="p">}</span>
  <span class="p">});</span>
<span class="p">};</span>
</pre></div>

<h2>
<a name="exercise-9---update-todo-list-status" class="anchor" href="#exercise-9---update-todo-list-status"><span class="octicon octicon-link"></span></a>Exercise 9 - Update Todo List status</h2>

<p>Finally, we need to update the todo document when the done checkbox is clicked.</p>

<div class="highlight"><pre><span class="nx">$scope</span><span class="p">.</span><span class="nx">updateTodo</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">todo</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$db</span><span class="p">.</span><span class="nx">put</span><span class="p">(</span><span class="nx">todo</span><span class="p">);</span>
<span class="p">};</span>
</pre></div>

<h2>
<a name="finished" class="anchor" href="#finished"><span class="octicon octicon-link"></span></a>Finished</h2>

<p>Congrats, hopefully you completed this short tutorial and learned a little bit about angularjs and pouchdb.</p>

<p>Please provide feedback for improvement or if you enjoyed the exercise send me a tweet <a href="https://github.com/twilson63" class="user-mention">@twilson63</a></p>

<h2>
<a name="license" class="anchor" href="#license"><span class="octicon octicon-link"></span></a>License</h2>

<p>MIT</p>

<h2>
<a name="thank-you" class="anchor" href="#thank-you"><span class="octicon octicon-link"></span></a>Thank you</h2>

<ul>
<li>AngularJS Team</li>
<li>PouchDb Team</li>
<li>NodeJS Team</li>
<li>Grunt Team</li>
<li>Bower Team</li>
</ul><h2>
<a name="contributors" class="anchor" href="#contributors"><span class="octicon octicon-link"></span></a>Contributors</h2>

<ul>
<li><a href="https://github.com/twilson63">https://github.com/twilson63</a></li>
<li><a href="https://github.com/daraghking">https://github.com/daraghking</a></li>
</ul>
      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/twilson63">twilson63</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-9459466-4");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>