<div class="container">
  <div class="pull-right">
    <button class="btn btn-warning" ng-click="rmDone(list)">
      Archive Completed Tasks
    </button>
    <button class="btn btn-default" ng-click="save(list)">
      Save
    </button>
  </div>
  <h2>{{list.name}}</h2>
  <p>{{list.description}}</p>
  <form class="form-horizontal" novalidate ng-submit="add(task)">
    <div class="form-group">
      <input class="form-control" placeholder="Add Task and Press Enter" ng-model="task.description">
    </div>
  </form>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="task in list.tasks | orderBy:'done':false">
      <div class="checkbox">
        <label>
          <input class="" type="checkbox" ng-model="task.done">
          {{task.description}}
        </label>
      </div>
    </li>
  </ul>
</div>
