<div class="container">
  <h2>New List</h2>
  <form novalidate ng-submit="save(list)">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" ng-model="list.name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" ng-model="list.description">
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input class="form-control" ng-model="list.tags">
    </div>
    <div class="form-group">
      <button class="btn btn-default">Save</button>
    </div>
  </form>
</div>
