<h1>Todo Pouch</h1>
<span>{{remaining()}} of {{todos.length}} remaining</span>
[<a href="" ng-href="" ng-click="removeDone()">Remove done</a>]
<ul class="unstyled">
  <li ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.done" ng-click="updateTodo(todo)">
    <span ng-class="{done: todo.done}">{{todo.text}}</span>
  </li>
</ul>
<form ng-submit="addTodo()">
  <input type="text" ng-model="todoText"  size="30"
         placeholder="add new todo here">
  <input class="btn btn-primary" type="submit" value="add">
</form>